body {
					background: #FFF1F1;
					user-select:none;
					font-family: 'Josefin Sans', sans-serif;
					opacity: 0;
					transition: opacity 3s;
				}
html {
  scroll-behavior: smooth;
}
			
		
				
				
				@media screen 
				 and (max-width: 428px)
				{ 
				   .bcontain{ 
						text-align:left;
						margin-left:auto;
						margin-right:auto;
						width: 90%;
						height: auto;
						}

				}
				
				@media screen 
				 and (min-width: 429px)
				{ 
				   .bcontain{ 
						text-align:left;
						margin-left:auto;
						margin-right:auto;
						width: 80%;
						height: auto;
						}

				}
				
				@media screen 
				 and (min-width: 744px)
				{ 
				   .bcontain{ 
						text-align:left;
						margin-left:auto;
						margin-right:auto;
						width: 70%;
						height: auto;
						}

				}
				
				@media screen 
				 and (min-width: 1080px)
				{ 
				   .bcontain{ 
						text-align:left;
						margin-left:auto;
						margin-right:auto;
						width: 65%;
						height: auto;
						}

				}
				
				@media screen 
				 and (min-width: 1280px)
				{ 
				   .bcontain{ 
						text-align:left;
						margin-left:auto;
						margin-right:auto;
						width: 60%;
						height: auto;
						}

				}
				
				.hover-underline-animation {
				  display: inline-block;
				  position: relative;
				  color: #007675;
				}

				.hover-underline-animation:after {
				  content: '';
				  position: absolute;
				  width: 100%;
				  transform: scaleX(0);
				  height: 2px;
				  bottom: 0;
				  left: 0;
				  background-color: #007675;
				  transform-origin: bottom right;
				  transition: transform 0.25s ease-out;
				}

				.hover-underline-animation:hover:after {
				  transform: scaleX(1);
				  transform-origin: bottom left;
				}
				
				

				.links {
						
						font-size:16px;
						letter-spacing: 0px;
						user-select: none;
						color:#5C6578;
						font-weight: 500;
					}
				b{
					font-weight:400;
				}
					
				a{
						text-decoration:none;
				}
				
				.links:hover{
						color:#F06070;
				}
				
				p,ol{
					color: #362C2C;
					font-size:18px;
					line-height:26;
				}

				
				
				.highlight {
						color:#007675;
						font-weight: 400;
					}
					
				.underline-animation {
				  display: inline-block;
				  position: relative;
				}

				.underline-animation:after {
				  content: '';
				  position: absolute;
				  width: 100%;
				  transform: scaleX(0);
				  height: 2px;
				  bottom: 0;
				  left: 0;
				  background-color: #F06070;
				  transform-origin: bottom right;
				  transition: transform 0.25s ease-out;
				}

				.underline-animation:hover:after {
				  transform: scaleX(1);
				  transform-origin: bottom left;
				}
